extends layout

block content
  h1='prueba rokker'

    each bd in encontrado
      p=bd.gap
      p=bd.taylor
      p=bd.boss
      p=bd.hugo_boss
      p=bd.banana_republica
            
            
            
      

                  


  a(href='/')='volver atras'
